spring.application.name=email
server.port=8030

# Email config
spring.mail.port=587
spring.mail.host=smtp.gmail.com
spring.mail.username=
spring.mail.password=
spring.mail.properties.smtp.auth=true
spirng.mail.properties.mail.smtp.starttls.enable=true

# redis
spring.redis.host=localhost
spring.redis.port=6379
spring.redis.timeout=10s

# log
logging.level.com.rg.microsevices.emailservice=debug
